/TA Unofficial Beta Patch DDrawFix/.vs/
/TA Unofficial Beta Patch DDrawFix/DLLs/
/TA Unofficial Beta Patch DDrawFix/Public/
/TA Unofficial Beta Patch DDrawFix/Release/
/TA Unofficial Beta Patch DDrawFix/Output/